/* Universal Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 95%);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
}

.uppercase {
  text-transform: uppercase;
}

a:link,
a:hover,
a:visited
{
  text-decoration: none;
  color: hsl(0, 0%, 25%);
}

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
}

/* Basic Media Queries */
@media only screen and (min-width: 581px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 580px){
  .desktop {
    display: none;
  }
}

/* Header */

header {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  height: 4rem;
  position: fixed;
  z-index: 5;
}

.header,
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  font-size: 1.2rem;
  width: 2rem;
  height: auto;
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 600;
}

.grey {
  color: hsl(0, 0%, 50%);
}

nav {
  padding: 0.75rem 1.5rem;
}
nav li {
  padding-left: 1rem;
}

/* Header mobile */

/* Banner */
.banner {
  background-color: hsl(0, 0%, 80%);
  position: relative;
  top: 4rem;
}

.banner .container {
  flex-direction: row;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 1rem 1.5rem;
}

.banner p {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 25%);
  /*font-weight: 400;*/
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner mobile */
/* Information */
/* Information mobile */
/* Courses */
.courses {
  background-color: hsl(0, 0%, 90%);
}
/* Courses mobile */
/* Exhibit */
/* Exhibit mobile */
/* Footer */
/* Footer mobile */
