/** Universal Styles **/

html {
  font-size: 16px;
}

body {
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  color: hsl(0, 0%, 25%);
  background-color: hsl(0, 0%, 95%);
}

/* Text */
h1,
h2,
h4, {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  padding-top: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.2rem;
}

p,
footer li {
  font-size: 0.85rem;
  line-height: 1.2rem;
  padding-top: 0.5rem;
}

/*nav li {
  font-weight: 400;
}*/

.banner p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.grey {
  color: hsl(0, 0%, 50%);
}

.attribution {
  font-size: 0.75rem;
  font-weight: 400;
}

/* Links */
a:link,
a:visited {
  text-decoration: none;
  color: hsl(0, 0%, 25%);
}

a:hover {
  color: hsl(0, 0%, 70%);
  transition: color 0.3s;
}

.feature-info a {
  color: hsl(195, 100%, 40%);
}

/* Buttons */
.button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 25%);
}

.button:hover {
  background-color: hsl(0, 0%, 50%);
  transition: background-color 0.3s;
}

.button:active {
  color: hsl(0, 0%, 70%);
  transition: color 0.2s;
}

/** Page layout **/

.container {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* Header */
header {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  position: fixed;
  z-index: 5;
}

.header,
nav ul,
footer .container,
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  font-size: 1.2rem;
  width: 2rem;
  height: auto;
  display: flex;
  align-items: center;
}

nav,
.logo {
  padding: 0.75rem 1.5rem;
}

nav li {
  padding-left: 1rem;
}

/* Banner */
.banner {
  background-color: hsl(0, 0%, 80%);
  padding-top: 4rem;
}

.banner .container {
  align-items: center;
}

.banner .image-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner .banner-text {
  width: 40%;
  height: auto;
}

.banner h1,
.banner p {
  padding: 0 1.5rem 1rem 0;
}

.button {
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Information & Exhibit */
/* Section layout */
.column1 {
  width: 60%;
  padding: 2rem 1.5rem;
}

.column2 {
  width: 40%;
  padding-top: 2rem;
}

.column1 img,
.column1 video {
  width: 100%;
  height: auto;
}

/* Exhibit */
.exhibit .wrapper {
  display: flex;
  flex-direction: row;
}

/* Feature tile layout */
.feature {
  border: 1px solid hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.image-container {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.feature img {
  width: 100%;
  height: auto;
}

.feature-info {
  width: 65%;
  padding: 0.5rem 1rem 0.5rem 0;
}

.feature:hover {
  background-color: hsl(0, 0%, 80%);
  transition: background-color 0.5s;
}

/* Course grid */

.courses h2 {
  padding-top: 2rem;
}

.courses .container,
.exhibit .container {
  align-items: center;
  flex-direction: column;
}

.course-grid {
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Course tiles */
.course {
  background-color: hsl(0, 0%, 100%);
  width: 29%;
  height: auto;
  margin: 0.5rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course-description {
  min-height: 7rem;
  padding: 1rem;
}

/* Footer */
footer {
  border-top: 1px solid hsl(0, 0%, 90%);
}

footer p,
footer ul {
  padding: 1rem 1.5rem 3rem 1.5rem;
}

footer li {
  padding-right: 1rem;
}

/*** Media Queries ***/

/* Mobile 800px-634px */
@media only screen and (max-width: 800px) and (min-width: 634px) {
  /* Feature tiles */
  .feature-info h4 {
    font-size: 1rem;
  }
  .feature-info p {
    font-size: 0.75rem;
    line-height: normal;
  }
}

/* Mobile 768px */
@media only screen and (max-width: 768px) {
  /* Banner */
  .banner h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .banner p {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

/* Mobile 633px */
@media only screen and (min-width: 634px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 633px){
  .desktop,
  .logo,
  .course-grid {
    display: none;
  }
  .container {
  flex-direction: column;
  }

  /* Header */
  nav .mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav li {
    padding: 0.5rem;
  }

  /* Banner */
  .banner img,
  .banner .banner-text,
  .banner .image-container {
    width: 100%;
    height: auto;
  }
  .banner .image-container {
    padding: 0;
  }
  .banner .banner-text {
    padding: 2rem 0;
  }
  .banner h1,
  .banner p,
  .button {
    width: auto;
    margin: 0 1rem;
  }

  /* Info */
  .column2 {
    width: 100%;
    padding: 0;
  }

  /* Exhibit */
  .column1 {
    width: 100%;
  }
  .column1,
  .column1 video {
    padding: 1rem 0;
  }

  /* Feature tiles */
  .feature {
    border: none;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  .image-container {
    padding: 0;
  }
  .image-container,
  .feature img {
    width: 100%;
    height: auto;
  }
  .feature-info {
    width: 90%;
    padding: 1rem;
  }

  /* Course list */
  .courses {
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 90%);
  }
  .course-list {
    width: 100%;
  }
  .course-list ul {
    padding: 1rem 1rem 2rem 1rem;
  }
  .course-list li {
    background-color: hsl(0, 0%, 80%);
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0;
    margin: 0.5rem 0;
  }
  .course-list a {
    padding: 1rem;
  }

  /* Footer  */
  footer {
    border: none;
  }
}
